.mainContainer {
  margin-left: 140px;
  margin-top: 40px;
  width: 100%;
}
.mainContainer .titleText {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  color: #707281;
}

.mainContainer__bottom {
  margin-top: 58px;
}
